# SQL Server
# Formato: sqlserver://host:port;database=DB;user=USER;password=PASS;encrypt=true;trustServerCertificate=true
DATABASE_URL="sqlserver://localhost:1433;database=dotts;user=sa;password=CAMBIA_ESTA_CLAVE;encrypt=true;trustServerCertificate=true"

# JWT
JWT_SECRET="cambiar-en-produccion-minimo-32-caracteres"

# API
PORT=4000

# Opcional: crea/actualiza admin al ejecutar `npm run db:seed`
# ADMIN_EMAIL="admin@dotts.local"
# ADMIN_PASSWORD="CambiarEstaClave123"

